.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("soccerBall.jpg");
  
    height: 30%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: x-large;
  }
  #fadingText {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in-out {
    animation: fade 10s infinite;
  }
  
  @keyframes fade {
    0% { opacity: 0; }
    25%,50% { opacity: 1; }
    100% { opacity: 0; }
  }